backports.ssl-match-hostname==3.7.0.1
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
dictdiffer==0.8.0
google-auth==1.6.3
idna==2.8
ipaddress==1.0.22
Jinja2==2.10.1
kubernetes==3.0.0
MarkupSafe==1.1.1
openshift==0.3.4
prometheus-client==0.0.21
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.8.0
python-string-utils==0.6.0
PyYAML==5.4
requests==2.22.0
rsa==4.0
ruamel.yaml==0.15.97
six==1.12.0
urllib3==1.25.3
websocket-client==0.40.0
wheel==0.24.0
